<section class="help">
<h2>What the hell is Ryk.me?</h2>
<p>Ryk.me is a URL-shortening service, but instead of kindly redirecting to the provided link, it first Rickrolls your victims, err... friends.</p>
<br />
<br />

<h2>Rickrolling?  WTF?</h2>
<p>Rickrolling is the practice of tricking people into watching "Never Gonna Give You Up" by Rick Astley.  Wikipedia puts it like this:
	<blockquote>
		Rickrolling was an Internet meme[1][2] that involved the music video for the 1987 Rick Astley song "Never Gonna Give You Up". The meme was a bait and switch: a person provided a hyperlink that they claim is relevant to the topic at hand, but the link actually took the user to Astley's video. The link could be masked or obfuscated in some manner so that the user couldn't determine the true destination of the link without clicking. When a person clicked on the link and was led to the web page, he or she was said to have been "rickrolled".
	</blockquote>
</p>
</section>